html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    min-width:100%;
    position:absolute;
}
body{
    min-height:100%;
}
#maincontent{
	width: 100%;
	min-height:100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#E7DEB9;
	position: absolute;
}

#topcontent{
	width:70%;
	height:100%;
	top:0;
	bottom:0;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
}
#bottomcontent{
	width:100%;
	min-height: 20px;
	bottom:0px;
	position:fixed;
}
#searchform{
	margin-top: 0px;
	display: inline-block;
}

.selected{
}

#searchbox{
	padding-top:7px;
	width: 70%;
	margin-left:auto;
	margin-right: auto;
	position: relative;
}

#header ul{
	list-style-type:none;
}
#header li{
	display:inline;
	padding-right: 50px;
}
#header{
	text-align: center;
	height: 67px;
	top:0px;
	width:100%;
	background-color:#B61E2E;
}
#comparebox{
	border-top: 1px solid black;
	vertical-align:text-top;
	background:white;
	height:0px;
	position:relative;
	width: 100%;
	bottom:px;
}
#gradeboxes{
	width: 100%;
	min-height:15px;
	background-color: #CDCDCD;
	font-size:8px;
	color: #FFFFFF;
	position:fixed;
	bottom:0;
}
#resultcount {
	text-align: center;
	font-size:12px;
	font-weight:bold;
	font-color:#7D7D73;
}
#gradeboxes thead th{
	background-color: #B61E2E;
	border-right: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
#gradeboxes thead{
	border-bottom: 1px solid #FFF;
	border: 1px solid #FFF;
}

#gradeboxes tbody tr td{
	font-weight:bold;
	font-size: 12px;
	height: 100%;
	text-align: center;
	background-color:#7D7D73;
}

#searchresults{
	margin-top: 15px;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	margin-bottom:23px;
	min-height:100%;
	border:1px solid #DDDDDD;
}
#graphing{
	margin-top:70px;
	margin-left:0px;
	top:0;
	width: 15%;
	height: 15%;
	position:absolute;
}
#contents{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-height: 100%;
}
